<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">I am a seasoned Full Stack Developer with nearly three years of expertise in crafting dynamic mobile and web applications. I'm passionate about turning ideas into reality and take great joy in assisting individuals in realizing their dreams through technology.

   <br />  <br /> Throughout my journey, I've honed my skills in creating seamless user experiences and robust back-end systems. My commitment to clean, efficient code ensures that every project I undertake is executed with precision.
    
    Explore my portfolio below to get a glimpse of the solutions I've brought to life. I look forward to collaborating with you on your next venture! </p>

